.cf {
    zoom: 1;
}

.cf:before,
.cf:after {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}

/* No API Key screen */

#pushApp.noapikey-scrn {
    padding: 1em;
    background-color: #2d3e50;
    color: #fff;
    font-size: .85em;
    font-family: "Open Sans", sans-serif;
}

#pushApp.noapikey-scrn p {
    color: #e4e4e4;
}

#pushApp.noapikey-scrn p strong,
#pushApp.noapikey-scrn p span {
    color: #fff;
}

#pushApp.noapikey-scrn p span {
    font-weight: 600;
}

/* KendoUI Overwrites */

.km-flat .km-loader {
	background: rgba(0, 0, 0, .5);
}

.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: #3598db;
}

#pushApp.km-flat,
#pushApp.km-flat .km-navbar,
#pushApp.km-flat .km-content {
    border: 0 none;
    background-color: #2d3e50;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

#pushApp .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#pushApp .hide-text {
    overflow: hidden;
    text-indent: -999px;
}

#pushApp .center-text {
    text-align: center;
}

.disabled {
    position: relative;
    display: block;
}

.disabled:before {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    left: -1px;
    z-index: 1;
    content: '';
}

#pushApp .view .km-content {
	background-color: #fff;
}

/* Forms */

::-webkit-input-placeholder {
    color: #b6c5c6;
}

#pushApp.km-flat form .km-list > li {
    padding: .7em .7em .5em;
    border-color: #eaeced;
}

#pushApp.km-flat form .km-listinset > li:first-child,
#pushApp.km-flat form .km-listgroupinset .km-list > li:first-child {
    border-width: 0 0 1px;
    border-color: #eaeced;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

#pushApp.km-flat form .km-listinset > li:last-child,
#pushApp.km-flat form .km-listgroupinset .km-list > li:last-child {
    border: 0 none;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

#pushApp.km-flat .km-list input[type="text"]:not(.k-input),
#pushApp.km-flat .km-list input[type="password"],
#pushApp.km-flat .km-list input[type="email"],
#pushApp.km-flat .km-list input[type="date"],
#pushApp.km-flat textarea,
#pushApp.km-flat select {
    position: static;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

#pushApp.km-flat select {
    padding: .4em .2em;
}

/* Buttons */

#pushApp .btn {
    position: relative;
    margin: 0 -1px;
    padding: .6em 0;
    border: 0 none;
    background-color: #3598db;
    font-size: 1.2rem;
}

#pushApp .disabled .btn {
    opacity: .35;
}

#pushApp .btn-action,
#pushApp .signup-view .btn-signup {
    background-color: #1bbc9b;
}

#pushApp .signup-view .btn-signup {
    display: block;
    text-align: center;
}

#pushApp .km-header .nav-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 2em;
    height: 2em;
    border: 0 none;
    background-color: transparent;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

#pushApp .km-header .nav-button-back {
    background-image: url(images/icon-arrow_left.png);
    background-position: .65em 50%;
}

#pushApp .km-header .nav-button-add {
    background-image: url(images/icon-add.png);
}

#pushApp .km-header .nav-button-logout {
    background-image: url(images/icon-logout.png);
    background-position: 50% 50%;
}

#pushApp .km-header .nav-button-cancel,
#pushApp .km-header .nav-button-post {
    width: auto;
    height: 2.5em;
    font-size: .85rem;
    line-height: 2.5em;
}

#pushApp .km-footer .btn {
    display: block;
    text-align: center;
}

/* App Header */

#pushApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
    min-height: 20px;
    background-color: #2d3e50;
}

#pushApp.km-flat .km-header .km-navbar {
    min-height: 3.15em;
}

#pushApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
    min-height: 4.5em;
}

#pushApp.km-flat .km-header .km-view-title {
    margin-top: .4em;
    font-size: 1rem;
}

#pushApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-view-title {
  margin-top: .4em;
}

/* App Footer */

#pushApp .view .km-footer {
    padding: 1em;
    background: #fff none;
}

#pushApp .init-view .km-footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
}

#pushApp .init-view .km-footer p {
    font-size: .75rem;
}

/* Welcome screen */

#pushApp .app-logo,
#pushApp .app-name {
    margin-top: 1.5em;
}

#pushApp .app-logo {
    width: 247px;
    height: 32px;
    background: transparent url(images/logo-telerik_devcloud.png) no-repeat 0 0;
}

#pushApp .app-name {
    margin-bottom: 1.5em;
}

#pushApp .app-name small {
    display: block;
    font-weight: 400;
    font-size: 1.15rem;
}

#login-form .username,
#login-form .password {
    position: relative;
}

#login-form .username:before,
#login-form .password:before {
    position: absolute;
    top: 50%;
    right: .75em;
    display: block;
    margin-top: -.5em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
}

#login-form .username:before {
    background-image: url(images/icon-username.png);
}

#login-form .password:before {
    background-image: url(images/icon-password.png);
}

#pushApp .init-view .group-wrp {
    margin: -1em 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#pushApp .init-view .group-wrp li {
  margin: 1.5em 0 0;
}

#pushApp .init-view .group-wrp .btn {
    display: block;
}

#pushApp .init-view .group-wrp .btn-signup span {
    font-weight: 500;
    font-size: 1rem;
}

#pushApp .init-view .group-wrp .btn-signup {
    border: 0 none;
    background-color: transparent;
}

/* Signup */

#pushApp .signup-view .select-wrp {
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

#pushApp .txtarea-wrp textarea {
    float: none;
    height: 5.5em;
    resize: none;
}

#pushApp .signup-view .signup-btn-wrp {
    margin: 0 1em;
}

/* Users list */

#pushApp .users-list-view li {
    padding: 0;
    border: 0 none;
    color: #000;
}

#pushApp .users-list-view li div {
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, .1);
  border-width: 0 0 1px 0;
}

#pushApp .users-list-view li .listview-selected {
    border-color: #1a77b6;
    background-color: #3598db;
    color: #fff;
}

/* Console */

.console div {
    padding: .35em .5em;
    border: 1px solid #78baed;
    border-width: 0 0 1px 0;
    color: #000;
    font-size: .85em;
}

.console div.error {
    border-color: #ff7e7e;
}
