<div id="view-all-activities"
	 class="activities-view"
	 data-role="view"
	 data-layout="default"
	 data-model="app.deviceViewModel">

    <div data-role="header">
        <div data-role="navbar">
            Device
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="logout">Log out</a>
        </div>
    </div>

    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br /><br />Tap on the plus sign and share what's on your mind.
    </p>
</div>
