<div id="main-view" data-role="view" data-init="app.MainViewModel.init" data-after-show="app.MainViewModel.afterShow" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Welcome!
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" data-click="app.logout">Log out</a>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" href="views/usersView.html">Send</a>
        </div>
    </div>
    <div class="console"></div>
</div>
