<div id="main-view" class="view" data-role="view" data-after-show="app.MainViewModel.afterShow" data-model="app.MainViewModel">
    <div data-role="header">
        <div data-role="navbar">
            Welcome!
            <a class="nav-button nav-button-logout hide-text" data-align="left" data-role="button" data-click="app.logout">Log out</a>
        </div>
    </div>

    <div class="console"></div>

    <div data-role="footer">
        <a href="views/usersView.html" data-role="button" class="btn btn-action">Send Push Notification</a>
    </div>
</div>
