<div id="users-list" class="users-list" data-role="modalview" data-model="app.usersModel" data-title="Users">
    <div data-role="header">
        <div data-role="navbar">
            Users
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-post" data-align="right" data-role="touch" data-tap="app.sendPush">Send</a>
        </div>
    </div>
    <ul id="users-list-view" class="users-list-view" data-bind="source: usersDataSource" data-template="users-template" data-role="listview" data-click="app.usersModel.onUserSelected"></ul>
    <div class="console"></div>
</div>

<script id="users-template" type="text/x-kendo-template">
    <div data-bind="attr: { class: isSelectedClass }">#: DisplayName #</div>
</script>
